<% data.forEach(function(report) { %>
    <tr>
        <td><%= report.cve_id %></td>
        <td><%= report.server[0]?.serverName ||"" %></td>
        <td><%= report.website %></td>
        <td><%= report.tags.map(tag=>tag.toUpperCase()).join(", ") %></td>
        <td><%= report.createdAt %></td>
    </tr>
<%}); %>