<% data.forEach(function(site) { %>
    <tr>
        <td><%= site.website %></td>
        <td><a href="<%= site.url %>" target="_blank"><%= site.url %></a></td>
        <td><%= site.server[0]?.serverName ||"" %></td>
        <td><%= site.tags.map(tag=>tag.toUpperCase()).join(", ") %></td>
        <td><%= site.createdAt %></td>
    </tr>
<%}); %>